doctype html
html
  head
    title #{title} - 
    // Bootstrap
    link(href='/static/vendors/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/styles.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/DT_bootstrap.css', rel='stylesheet', media='screen')
    //if lte IE 8
      script(language='javascript', type='text/javascript', src='/static/vendors/vendors/flot/excanvas.min.js')
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='/static/vendors/vendors/modernizr-2.6.2-respond-1.1.0.min.js')
    style.
      i {color:white}
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Student dashboard
          .nav-collapse.collapse
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  i.icon-user
                  strong   
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='#{baseurl}/profile') Profile
                  li
                    a(tabindex='-1', href='#{baseurl}/settings') Settings
                  li.divider
                  li
                    a(tabindex='-1', href='../logout') Logout
            ul.nav
              li.active
                a(href='#') Reports
          // /.nav-collapse
    .container-fluid
      .row-fluid
        #sidebar.span3
          ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
            li
              a(href='../home')
                i.icon-chevron-right
                i.icon-home
                |  Dashboard
            li
              a(href='../profile')
                i.icon-chevron-right
                i.icon-user
                |  Profile
            li
              a(href='../lecturers')
                i.icon-chevron-right
                i.icon-briefcase
                |  Lecturers
            li(class='#{msgReport}')
              a(href='reports/all')
                i.icon-chevron-right
                i.icon-book
                |  Reports
            li
              a(href='../notifications')
                span.badge.badge-info.pull-right
                i.icon-volume-up
                |  Notifications
            li.active
              a(href='#')
                span.badge.badge-info.pull-right
                i.icon-envelope
                |  Messages
            li
              a(href='#')
                span.badge.badge-info.pull-right
                i.icon-inbox
                |  Broadcast
        // /span
        #content.span9
          .row-fluid
            .navbar
              .navbar-inner
                ul.breadcrumb
                  i.icon-chevron-left.hide-sidebar
                    a(href='#', title='Hide Sidebar', rel='tooltip')  
                  i.icon-chevron-right.show-sidebar(style='display:none;')
                    a(href='#', title='Show Sidebar', rel='tooltip')  
                  li
                    a(href='../home') Dashboard
                    span.divider /
                  li Messages
          .row-fluid
            // block
            .block
              .navbar.navbar-inner.block-header
                .muted.pull-left Messages
              .block-content.collapse.in
                .span3
                  
                  hr
                  strong  List of all students
                  ul
                    each val in allNIMS
                        li
                          div
                            a(href='../message/#{val.nim}') #{val.nim} - #{val.unread}
                  p(class='#{bc}') 
                    a(href='#{baseurl}/message/initial_broadcast' class='btn btn-info')
                      i.icon-plus-sign.icon-white
                      strong  Init broadcast
                  p
                    a(href='#myModal' data-toggle='modal' class='btn btn-success') 
                        i.icon-plus-sign.icon-white
                        strong  New message
                  //- load modal to send message
                  div(id='myModal' class='modal hide')
                    div(class='modal-header')
                      button(data-dismiss='modal' class='close' type='button')&times;
                      h3 New message to all students
                    div(class='modal-body')
                      .span12
                        form.form-horizontal(method='post' action='#{baseurl}/message/send/all')
                          .control-group
                            label.control-label(for='supervisor') To :
                            .controls
                              input#focusedInput.input-xlarge.focused(type='text' name='supervisor', value='all students', style='width:80px' readOnly='true' required)
                          .control-group
                            label.control-label(for='textarea2') Message :
                            .controls
                              textarea.input-xlarge.textarea(placeholder='Enter your message here ...', style='width: 290px; height: 80px', name='msg' required)
                          .form-actions
                            button.btn.btn-primary(type='submit') Send
                            &nbsp;
                            button.btn(type='reset') Clear
                                   
                .span9
                  .span9
                    
                    //- broadcast message
                    h4(class='#{hideAllMsg}') Broadcast Messages
                    table.table.table-hover(class='#{showInbox}')
                      thead
                        tr
                          
                          th From
                          th Body
                          th Date
                          
                      tbody
                        each bc in bcMsg
                          tr
                            td
                              span.label.label-info YOU
                            td=bc.body
                            td=bc.date_created

                    //- outbox message
                    //- h4(class='') Outbox Messages
                    //- table.table.table-hover(class='#{showOutbox} success')
                    //-   thead
                    //-     tr.success
                          
                    //-       th From
                    //-       th Body
                    //-       th Date
                          
                    //-   tbody
                    //-     each val in outboxMsg
                    //-       tr
                            
                    //-         td
                    //-           span.label.label-info #{val.author}
                    //-         td=val.body
                    //-         td=val.date_created
                  .span3
                    if success && success.length > 0
                      .alert.alert-success.alert-dismissible.fade-in(role="alert")
                        button.close(type="button" data-dismiss="alert" aria-label="Close")
                          span(aria-hidden="true") ×
                        strong Success!
                        p= success
      hr
      footer
        center
          | Thesis Management System &copy; 2017 -
          &nbsp;
          a(href='https://github.com/wldn/thement' title='Source code' target='_blank')
            strong v1.0
            br
          strong Department of Physics, ITB                    
                      
            // /block
    // /.fluid-container
    script(src='/static/vendors/vendors/jquery-1.9.1.js')
    script(src='/static/vendors/bootstrap/js/bootstrap.min.js')
    script(src='/static/vendors/vendors/datatables/js/jquery.dataTables.min.js')
    script(src='/static/vendors/assets/scripts.js')
    script(src='/static/vendors/assets/DT_bootstrap.js')
    script.
      $(function() {
      });
