doctype html
html
  head
    title #{title} - #{nim}
    // Bootstrap
    link(href='/static/vendors/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/styles.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/DT_bootstrap.css', rel='stylesheet', media='screen')
    //if lte IE 8
      script(language='javascript', type='text/javascript', src='/static/vendors/vendors/flot/excanvas.min.js')
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='/static/vendors/vendors/modernizr-2.6.2-respond-1.1.0.min.js')

    style.
      i {color:white}
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Student dashboard
          .nav-collapse.collapse
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  i.icon-user
                  strong  #{nim} 
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='#{baseurl}/profile?from=topbar') Profile
                  li
                    a(tabindex='-1', href='#{baseurl}/settings') Settings
                  li.divider
                  li
                    a(tabindex='-1', href='../logout?from=topbar') Logout
            ul.nav
              li.active
                a(href='#') Reports
          // /.nav-collapse
    .container-fluid
      .row-fluid
        #sidebar.span3
          ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
            li
              a(href='../home?from=reports')
                
                i.icon-home
                |  Dashboard
            li
              a(href='../profile?from=reports')
                
                i.icon-user
                |  Profile
            li
              a(href='../lecturers?from=reports')
                
                i.icon-briefcase
                |  Lecturers
            li(class='#{msgReport} active')
              a(href='#')
                
                i.icon-book
                |  Reports
            li
              a(href='../notifications?from=reports')
                span.badge.badge-info.pull-right
                i.icon-volume-up
                |  Notifications
            li
              a(href='../message/all?from=reports')
                span.badge.badge-info.pull-right
                i.icon-envelope
                |  Messages
            li
              a(href='../announcements?from=reports')
                span.badge.badge-info.pull-right
                i.icon-inbox
                |  Announcements
          hr
          a(href=baseurl+'/logout?from=sidebar' class='btn btn-danger')
            strong Log out &nbsp;
            i.icon-arrow-right.icon-white
        // /span
        #content.span9
          .row-fluid
            .navbar
              .navbar-inner
                ul.breadcrumb
                  i.icon-chevron-left.hide-sidebar
                    a(href='#', title='Hide Sidebar', rel='tooltip')  
                  i.icon-chevron-right.show-sidebar(style='display:none;')
                    a(href='#', title='Show Sidebar', rel='tooltip')  
                  li
                    a(href='../home?from=panel') Dashboard
                    span.divider /
                  li Reports
          .row-fluid
            // block
            .block
              .navbar.navbar-inner.block-header
                .muted.pull-left Reports
              .block-content.collapse.in
                .span12
                  .table-toolbar
                    //
                      <div class="btn-group">
                      <a href="#"><button class="btn btn-success">Add New <i class="icon-plus icon-white"></i></button></a>
                      </div>
                    legend Click report's ID to see detail
                    p(class='#{approvalStatus}') Status approval :
                    div(class='#{startReport}')
                      h3 You have no report yet
                      a(href='../report/create' class='btn btn-info') Start creating report
                    h4(style='color:#{colored}') #{statusColored}
                    p(class='#{showCreateReport}')
                      a(href='../report/create?from=all') 
                        button.btn.btn-success
                          i.icon-plus-sign.icon-white
                          strong  Create
      
                    p(class='#{showEditReport}')
                      a(href='../report/update?from=all')
                        button.btn.btn-primary
                          i.icon-edit.icon-white
                          strong  Edit

                  table.table.table-striped
                    thead
                      tr
                        th Report ID
                        th Report Title
                        th Report Body
                        th Attachment 
                        th Last Edit
                        
                    tbody
                      each report in objReports  
                        tr
                          td
                            a(href='#{baseurl}/report/#{report.index}?from=reports') #{report.index}
                          td=report.title
                          td=report.body 
                          td
                            a(href='#{report.file_location}')=report.file_name
                          td=report.last_edit
                  p  

                  a(href='#myModal' data-toggle='modal' class='btn btn-danger #{showDeleteButton}') 
                      i.icon-remove.icon-white
                      strong  DELETE ALL
                    div(id='myModal' class='modal hide')
                      div(class='modal-header')
                        button(data-dismiss='modal' class='close' type='button')&times;
                        h4 DELETE ALL NOTIFS
                      div(class='modal-body')
                        .span12
                          p.lead Are you sure want to delete all of your reports?
                          a(href='../report/delete/all?from=all' class='btn btn-primary') Yes
                          &nbsp;
                          a(data-dismiss='modal' href='#' class='btn') No
                        
                      
            // /block
          // footer
          center
            include ../../static/footer
    // /.fluid-container
    script(src='/static/vendors/vendors/jquery-1.9.1.js')
    script(src='/static/vendors/bootstrap/js/bootstrap.min.js')
    script(src='/static/vendors/vendors/datatables/js/jquery.dataTables.min.js')
    script(src='/static/vendors/assets/scripts.js')
    script(src='/static/vendors/assets/DT_bootstrap.js')
    script.
      $(function() {
      });

