doctype html
html
  head
    title=title
    // Bootstrap
    link(href='/static/vendors/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/styles.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/DT_bootstrap.css', rel='stylesheet', media='screen')
    //if lte IE 8
      script(language='javascript', type='text/javascript', src='/static/vendors/vendors/flot/excanvas.min.js')
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='/static/vendors/vendors/modernizr-2.6.2-respond-1.1.0.min.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Student dashboard
          .nav-collapse.collapse
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  i.icon-user
                  |  #{nim} 
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='#{baseurl}/profile') Profile
                  li
                    a(tabindex='-1', href='#{baseurl}/settings') Settings
                  li.divider
                  li
                    a(tabindex='-1', href='logout') Logout
            ul.nav
              li.active
                a(href='#') Reports
          // /.nav-collapse
    .container-fluid
      .row-fluid
        #sidebar.span3
          ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
            li
              a(href='../home')
                i.icon-chevron-right
                i.icon-home
                |  Dashboard
            li
              a(href='../profile')
                i.icon-chevron-right
                i.icon-user
                |  Profile
            li
              a(href='../lecturers')
                i.icon-chevron-right
                i.icon-briefcase
                |  Lecturers
            li.active
              a(href='reports/all')
                i.icon-chevron-right
                i.icon-book
                |  Reports
            li
              a(href='../notifications')
                span.badge.badge-info.pull-right #{nNotifs}
                i.icon-volume-up
                |  Notifications
            li
              a(href='#')
                span.badge.badge-info.pull-right
                i.icon-envelope
                |  Messages
        // /span
        #content.span9
          .row-fluid
            // block
            .block
              .navbar.navbar-inner.block-header
                .muted.pull-left REPORT
              .block-content.collapse.in
                .span9
                  form.form-horizontal(method='post' action='create')
                    fieldset
                      legend Fill the form to make progress report
                      .control-group
                        label.control-label(for='focusedInput') NIM
                        .controls
                          input#focusedInput.input-xlarge.focused(type='text', value='#{nim}' disabled)
                      .control-group
                        label.control-label(for='focusedInput') Progress Report ID
                        .controls
                          input#focusedInput.input-xlarge.focused(type='text', value='#{idReport}' name='reportID' readOnly='true')
                      .control-group
                        label.control-label(for='focusedInput') Report title
                        .controls
                          input#focusedInput.input-xlarge.focused(type='text' name='reportTitle', placeholder='Enter title ...', required)
                      .control-group
                        label.control-label(for='textarea2') Report body
                        .controls
                          textarea.input-xlarge.textarea(placeholder='Enter text ...', style='width: 510px; height: 200px', name='reportBody' required)
                      .form-actions
                        button.btn.btn-primary(type='submit') Next
                        &nbsp;
                        button.btn(type='reset') Clear
                        &nbsp;
                        a(href='') Back
                      
      // footer
      hr
      footer
        center
          | Thesis Management System &copy; 2017 -
          &nbsp;
          a(href='https://github.com/wldn/thement' title='Source code' target='_blank')
            strong v1.0
            br
          strong Department of Physics, ITB
    // /.fluid-container
    script(src='/static/vendors/vendors/jquery-1.9.1.js')
    script(src='/static/vendors/bootstrap/js/bootstrap.min.js')
    script(src='/static/vendors/vendors/datatables/js/jquery.dataTables.min.js')
    script(src='/static/vendors/assets/scripts.js')
    script(src='/static/vendors/assets/DT_bootstrap.js')
    script.
      $(function() {
      });
