doctype html
html
  head
    title=title
    // Bootstrap
    link(href='/static/vendors/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/styles.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/DT_bootstrap.css', rel='stylesheet', media='screen')
    //if lte IE 8
      script(language='javascript', type='text/javascript', src='/static/vendors/vendors/flot/excanvas.min.js')
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='/static/vendors/vendors/modernizr-2.6.2-respond-1.1.0.min.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Student dashboard
          .nav-collapse.collapse
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  i.icon-user
                  strong  #{nim} 
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href=baseurl+'/profile') Profile
                  li
                    a(tabindex='-1', href=baseurl+'/settings') Settings
                  li.divider
                  li
                    a(tabindex='-1', href=baseurl+'/logout') Logout
            ul.nav
              li.active
                a(href='#') Report's detail
          // /.nav-collapse
    .container-fluid
      .row-fluid
        #sidebar.span3
          ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
            li
              a(href='../home')
                
                i.icon-home
                |  Dashboard
            li
              a(href='../profile')
                
                i.icon-user
                |  Profile
            li
              a(href='../lecturers')
                
                i.icon-briefcase
                |  Lecturers
            li(class='#{msgReport}').active
              a(href='#')
                
                i.icon-book
                |  Reports
            li
              a(href='../notifications')
                span.badge.badge-info.pull-right
                i.icon-volume-up
                |  Notifications
            li
              a(href='../message/all')
                span.badge.badge-info.pull-right
                i.icon-envelope
                |  Messages
            li
              a(href='#')
                span.badge.badge-info.pull-right
                i.icon-inbox
                |  Broadcast
        // /span
        #content.span9
          .row-fluid
            .navbar
              .navbar-inner
                ul.breadcrumb
                  i.icon-chevron-left.hide-sidebar
                    a(href='#', title='Hide Sidebar', rel='tooltip')  
                  i.icon-chevron-right.show-sidebar(style='display:none;')
                    a(href='#', title='Show Sidebar', rel='tooltip')  
                  li
                    a(href='../home') Dashboard
                    span.divider /
                  li
                    a(href='#{baseurl}/reports/all') Reports
                    span.divider /
                  li Single report
          .row-fluid
            // block
            .block
              .navbar.navbar-inner.block-header
                .muted.pull-left report detail
              .block-content.collapse.in
                .span12
                  .table-toolbar
                    //
                      <div class="btn-group">
                      <a href="#"><button class="btn btn-success">Add New <i class="icon-plus icon-white"></i></button></a>
                      </div>
                    legend SINGLE REPORT
                    .btn-group.pull-right
                                    
                    h4 Report ID : #{idTo}
                    hr
                    
                    h5 Title
                    i.icon-font
                    |  #{found.title}
                    
                    h5 Body
                    i.icon-align-justify
                    |  #{found.body}
                    
                    h5 Last edit
                    i.icon-time
                    |  #{found.last_edit}
                    h5 File attachment
                    i.icon-file
                    |  #{found.file_location}
                                        
                    p 
                     a(href='#{baseurl}/reports/all') 
                      h4 ← Back to all reports
                      
            // /block
    // /.fluid-container
    script(src='/static/vendors/vendors/jquery-1.9.1.js')
    script(src='/static/vendors/bootstrap/js/bootstrap.min.js')
    script(src='/static/vendors/vendors/datatables/js/jquery.dataTables.min.js')
    script(src='/static/vendors/assets/scripts.js')
    script(src='/static/vendors/assets/DT_bootstrap.js')
    script.
      $(function() {
      });
