doctype html
html.no-js
  head
    title=title
    // Bootstrap
    link(href='/static/vendors/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/vendors/easypiechart/jquery.easy-pie-chart.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/styles.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/timeline.less', rel='stylesheet/less', media='screen')
    
    style.
      .stateStyle {color: #{stateColor}}
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='/static/vendors/vendors/modernizr-2.6.2-respond-1.1.0.min.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') HELP
          
    // SIDEBAR
    .container-fluid
      .row-fluid
        #sidebar.span3
          ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
            li
              a(href=baseurl+'help/student')
                i.icon-book
                strong  Getting started
            p    
              ul(style='list-style:none')
                li 
                  a(href=baseurl+'help/student#register') # Register an account
                li
                  a(href=baseurl+'help/student#login') # Login to system
            p
            li.active
              a(href='#update_profile')
                i.icon-book
                strong  Updating Profile
            p    
              ul(style='list-style:none')
                li 
                  a(href='#profile') # Update profile
                li
                  a(href='#settings') # Change password
            p
            li
              a(href=baseurl+'help/student/lecturer')
                i.icon-book
                strong  Choosing Lecturer
            li
              a(href='#progress_reports')
                i.icon-book
                strong  Progress Reports
            li
              a(href='#messaging')
                i.icon-book
                strong  Messaging
            li
              a(href='#notifications')
                i.icon-book
                strong  Notifications
          hr
          a(href='logout?from=sidebar' class='btn btn-danger')
            strong Log out &nbsp;
            i.icon-arrow-right.icon-white      
        // /span
        #content.span9
          .row-fluid
            .navbar
              .navbar-inner
                ul.breadcrumb
                  i.icon-chevron-left.hide-sidebar
                    a(href='#', title='Hide Sidebar', rel='tooltip')  
                  i.icon-chevron-right.show-sidebar(style='display:none;')
                    a(href='#', title='Show Sidebar', rel='tooltip')  
                  li Guide Center
          
          .row-fluid
            // block
            .block
              .navbar.navbar-inner.block-header
                .muted.pull-left Guide for Student
              .block-content.collapse.in
                .span12
          
                  h2 Configuring Profile
                  p(class='lead') In this feature, you can both modify your profile including fullname, nickname, address, etc. and also change your current password.
                  hr
                  div(class='target')
                    div(id='profile')
                      ul(style='list-style:none')
                        li
                          h3 1. Update profile
                      center
                        a(href='#' class='thumbnail')
                            img(src='/static/images/apps/t4_home.png')
                        p(class='img-title') Student's dashboard
                      ul
                        li Then click on 
                          strong Profile
                          |  at sidebar to see your profile page
                        center
                          a(href='#' class='thumbnail')
                              img(src='/static/images/apps/t5_profile.png')
                          p(class='img-title') Profile page
                        br
                        li As you can see, fullname could be added, also profile picture
                            br
                            strong  NOTE : 
                            | Please reload page after changing your profile picture to take effect
                        p(class='pull-right')
                          a(href='#top')
                              i.icon-arrow-up
                              strong  Back to top  
                        
                  br
                  
                  div(class='target')
                    div(id='settings')
                      ul(style='list-style:none')
                        li
                          h3 2. Change Password
                      center
                        a(href='#' class='thumbnail')
                            img(src='/static/images/apps/t6_to_settings.png')
                        p(class='img-title') Go to settings
                        a(href='#' class='thumbnail')
                            img(src='/static/images/apps/t6_settings.png')
                        p(class='img-title') Settings page
                      ul
                        li Enter your NEW password twice
                        li 
                            strong NOTE : 
                            | You have to enter the same passwords
                    p(class='pull-right')  
                        a(href='#top')
                            i.icon-arrow-up
                            strong  Back to top
            // /block
      // footer
      center
        
    // /.fluid-container
    script(src='/static/vendors/vendors/jquery-1.9.1.min.js')
    script(src='/static/vendors/bootstrap/js/bootstrap.min.js')
    script(src='/static/vendors/vendors/easypiechart/jquery.easy-pie-chart.js')
    script(src='/static/vendors/assets/scripts.js')
    script.
      $(function() {
      // Easy pie charts
      $('.chart').easyPieChart({animate: 1000});
      });
    script.
      $('#myCarousel').on('slide.bs.carousel', function () {
        // do something…
      })
