doctype html
html.no-js
  head
    title Dashboard - #{found.username}
    // Bootstrap
    link(href='/static/vendors/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/vendors/easypiechart/jquery.easy-pie-chart.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/styles.css', rel='stylesheet', media='screen')
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='/static/vendors/vendors/modernizr-2.6.2-respond-1.1.0.min.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Lecturer dashboard
          .nav-collapse.collapse
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  i.icon-user 
                  span 
                  | #{found.name} 
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='profile') Profile
                  li
                    a(tabindex='-1', href='settings') Settings
                  li.divider
                  li
                    a(tabindex='-1', href='logout') Logout
            ul.nav
              li.active
                a(href='#') Dashboard
          // /.nav-collapse
    .container-fluid
      .row-fluid
        #sidebar.span3
          ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
            li.active
              a(href='#')
                i.icon-chevron-right
                |  Dashboard
            li
              a(href='profile')
                i.icon-chevron-right
                |  Profile
            li
              a(href='candidates')
                i.icon-chevron-right
                |  Candidates (#{found.candidates.length})
            li
              a(href='students')
                i.icon-chevron-right
                |  Fix Students 
        // /span
        #content.span9
          .row-fluid
            .navbar
              .navbar-inner
                ul.breadcrumb
                  i.icon-chevron-left.hide-sidebar
                    a(href='#', title='Hide Sidebar', rel='tooltip')  
                  i.icon-chevron-right.show-sidebar(style='display:none;')
                    a(href='#', title='Show Sidebar', rel='tooltip')  
                  li
                    a.active(href='#') Dashboard
          .row-fluid
            // block
            .block
              .navbar.navbar-inner.block-header
                .muted.pull-left General information
              .block-content.collapse.in
                .span3
                  h4 Last login
                  p 
                .span3
                  h4 Candidates
                  p #{found.candidates} 
                  | See full list 
                  a(href='candidates') here
                .span3(class='#{hiding}')
                  h4 Password Change
                  p Your current password is unsafe. Change 
                    a(href='#') here
                
                  //- .chart(data-percent='13') 13%
                  //- .chart-bottom-heading
                  //-   span.label.label-info Orders
            // /block
      hr
    // /.fluid-container
    script(src='/static/vendors/vendors/jquery-1.9.1.min.js')
    script(src='/static/vendors/bootstrap/js/bootstrap.min.js')
    script(src='/static/vendors/vendors/easypiechart/jquery.easy-pie-chart.js')
    script(src='/static/vendors/assets/scripts.js')
    script.
      $(function() {
      // Easy pie charts
      $('.chart').easyPieChart({animate: 1000});
      });
