doctype html
html.no-js
  head
    title Dashboard - #{found.name}
    // Bootstrap
    link(href='/static/vendors/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/vendors/easypiechart/jquery.easy-pie-chart.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/styles.css', rel='stylesheet', media='screen')
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='/static/vendors/vendors/modernizr-2.6.2-respond-1.1.0.min.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Lecturer dashboard
          .nav-collapse.collapse
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown',
                style='color:#001a33; background:#{coloredMsg}; font-weight:bold;')
                  i.icon-envelope
                  strong  Messages
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='#')
                      div(class='#{showMsgNotif}')
                        strong #{contentMsg}
                  
                  li.divider
                  li
                    a(tabindex='-1', href='message/all') Read all messages
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown',
                  style='color:#001a33; background:#{colored}; font-weight:bold;')
                  i.icon-volume-up
                  |  Notifications
                  i.caret
                ul.dropdown-menu
                  each notif in notifs
                    li
                      a(tabindex='-1', href='#')
                        div
                          strong #{notif.date}
                        | #{notif.notif}
                  hr
                  li
                    a(href='notifications?from=topbar')
                      strong READ ALL NOTIFS →
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  i.icon-user
                  strong  #{found.name}
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='profile') Profile
                  li
                    a(tabindex='-1', href='settings') Settings
                  li.divider
                  li
                    a(tabindex='-1', href='logout') Logout
             
            ul.nav
              li.active
                a(href='#') Dashboard
          // /.nav-collapse
    .container-fluid
      .row-fluid
        #sidebar.span3
          ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
            li.active
              a(href='#')
                i.icon-chevron-right
                i.icon-home
                |  Dashboard
            li
              a(href='profile')
                i.icon-chevron-right
                i.icon-user
                |  Profile
            li
              a(href='candidates')
                i.icon-chevron-right
                i.icon-list
                |  Candidates (#{found.candidates.length})
            li
              a(href='students')
                i.icon-chevron-right
                i.icon-user
                |  Fix Students
            li
              a(href='notifications')
                div(class='#{isNotifShow}')
                  span.badge.badge-info.pull-right #{newNotif}
                i.icon-volume-up
                |  Notifications
            li
              a(href='message/all')
                div(class='#{showMsgNotif')
                span.badge.badge-warning.pull-right #{newMsg}
                i.icon-envelope
                |  Messages
            li
              a(href='#')
                span.badge.badge-info.pull-right
                i.icon-inbox
                |  Broadcast
        // /span
        #content.span9
          .row-fluid
            .navbar
              .navbar-inner
                ul.breadcrumb
                  i.icon-chevron-left.hide-sidebar
                    a(href='#', title='Hide Sidebar', rel='tooltip')  
                  i.icon-chevron-right.show-sidebar(style='display:none;')
                    a(href='#', title='Show Sidebar', rel='tooltip')  
                  li
                    a.active(href='#') Dashboard
          .row-fluid
            // block
            .block
              .navbar.navbar-inner.block-header
                .muted.pull-left General information
              .block-content.collapse.in
                .span3
                  h4 Profile
                  p 
                  i.icon-folder-open
                  | &nbsp; 
                  strong Research Division : 
                  | #{found.kk}
                  hr
                  p
                    a(href='profile?from=general_info')
                      button.btn.btn-info
                        i.icon-refresh.icon-white
                        strong  Update my profile
                .span3
                  h4 Candidates
                  p
                  i.icon-list
                  | &nbsp;
                  strong Some of them : 
                  div(class='#{cans}')
                    p #{candids}
                    a(href='#' title='See all') (...)
                  hr
                  p
                    a(href='candidates?from=general_info')
                      button.btn.btn-primary
                        i.icon-search.icon-white
                        strong  See all
                .span3
                  h4 Fix Students
                  p
                  i.icon-user
                  | &nbsp;
                  strong Some of them : 
                  div(class='#{stds}')
                    p #{fixstds}
                    a(href='#' title='See all') (...)
                  hr
                  p
                    a(href='students?from=general_info')
                      button.btn.btn-success
                        i.icon-eye-open.icon-white
                        strong  See all 
                .span3(class='#{hiding}')
                  h4 Password Change
                  p Your current password is 
                    strong(style='color:#{msgAlert}') unsafe
                    br
                    a(href='settings') Change here
                
                  //- .chart(data-percent='13') 13%
                  //- .chart-bottom-heading
                  //-   span.label.label-info Orders
            // /block
      hr
    // /.fluid-container
    script(src='/static/vendors/vendors/jquery-1.9.1.min.js')
    script(src='/static/vendors/bootstrap/js/bootstrap.min.js')
    script(src='/static/vendors/vendors/easypiechart/jquery.easy-pie-chart.js')
    script(src='/static/vendors/assets/scripts.js')
    script.
      $(function() {
      // Easy pie charts
      $('.chart').easyPieChart({animate: 1000});
      });
