doctype html
html
  head
    title=title
    // Bootstrap
    link(href='/static/vendors/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/styles.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/DT_bootstrap.css', rel='stylesheet', media='screen')
    link(href='https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css' rel='stylesheet' media='screen')
    link(href='https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css' rel='stylesheet' media='screen')
    script(src='/static/js/jspdf.debug.js')
    script(src='/static/js/jspdf.plugin.autotable.js')
    script(type='text/javascript')
    //if lte IE 8
      script(language='javascript', type='text/javascript', src='/static/vendors/vendors/flot/excanvas.min.js')
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='/static/vendors/vendors/modernizr-2.6.2-respond-1.1.0.min.js')
   
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Lecturer dashboard
          .nav-collapse.collapse
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  i.icon-user
                  |   
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='#') Profile
                  li
                    a(tabindex='-1', href='#') Settings
                  li.divider
                  li
                    a(tabindex='-1', href='logout') Logout
            ul.nav
              li.active
                a(href='#') Student's detail
          // /.nav-collapse
    .container-fluid
      .row-fluid
        #sidebar.span3
          ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
            li
              a(href=baseurl+'/home')
                i.icon-chevron-right
                i.icon-home
                |  Dashboard
            li
              a(href=baseurl+'/profile')
                i.icon-chevron-right
                i.icon-user
                |  Profile
            li.active
              a(href='#')
                i.icon-chevron-right
                i.icon-list
                |  Candidates
            li
              a(href=baseurl+'/students')
                i.icon-chevron-right
                i.icon-user
                |  Fix Students
            li
              a(href=baseurl+'/notifications')
                div(class='')
                  span.badge.badge-info.pull-right
                i.icon-volume-up
                |  Notifications
            li
              a(href=baseurl+'/message/all')
                span.badge.badge-info.pull-right
                i.icon-envelope
                |  Messages
            li
              a(href=baseurl+'/broadcast')
                span.badge.badge-info.pull-right
                i.icon-inbox
                |  Broadcast
        // /span
        #content.span9
          .row-fluid
            // block
            .block
              .navbar.navbar-inner.block-header
                .muted.pull-left STUDENT
              .block-content.collapse.in
                .span12
                  .table-toolbar
                    //
                      <div class="btn-group">
                      <a href="#"><button class="btn btn-success">Add New <i class="icon-plus icon-white"></i></button></a>
                      </div>
                    legend STUDENT PROFILE
                    
                    br
                    p Fullname : #{profile.profile.fullname}
                    p Nickname : #{profile.profile.nickname}
                    p NIM : #{profile.nim}
                    p Last seen : #{last_seen}
                    hr
                    h4 Progress report(s)
                    
                    table(id='example' class='display nowrap' cellspacing='0' width='100%')
                      thead
                        tr
                          th ID
                          th Title
                          th Body
                          th Last Edit
                          th File Attachment
                          th Approved at
                          th Detail
                          
                      tbody
                        each report in objReports
                          tr
                            td=report.index
                            td=report.title
                            td=report.body
                            td=report.last_edit
                            td
                              a(href=report.file_location target='_blank') attachment
                            td
                              span(class='badge badge-#{report.badge}') #{report.approved}
                            td
                              a(href='') See detail          
                  button(onclick='generate()' class='btn btn-success' id='exportButton')
                    i.icon-download-alt.icon-white
                    strong  Download as PDF

                  //- load modal to accept report
                  &nbsp; &nbsp;
                  a(href='#myModal' data-toggle='modal' class='btn btn-info #{showAccept}') 
                    i.icon-ok-circle.icon-white
                    strong  Accept
                  div(id='myModal' class='modal hide')
                    div(class='modal-header')
                      button(data-dismiss='modal' class='close' type='button')&times;
                      h3 Accept Student's Report
                    div(class='modal-body')
                      .span12
                        p.lead Are you sure want to accept this report?
                        a(href='#{baseurl}/student/detail/#{profile.nim}/accept' class='btn btn-primary') Yes
                        &nbsp;
                        a(data-dismiss='modal' href='#' class='btn') No
                  //- end load modal

                  //- ta1 and ta2 status
                  hr
                  h3(class='#{showTA1}') Sidang TA status
                  p
                  a(href='#myModal1' data-toggle='modal' class='btn btn-info #{showTA1}') 
                    i.icon-ok-circle.icon-white
                    strong  Sidang TA 1
                  div(id='myModal1' class='modal hide')
                    div(class='modal-header')
                      button(data-dismiss='modal' class='close' type='button')&times;
                      h3 Set TA 1 DONE
                    div(class='modal-body')
                      .span12
                        p.lead Are you sure want to accept sidang TA 1 to DONE?
                        a(href='#{baseurl}/student/ta1/accept/#{profile.nim}' class='btn btn-primary') Yes
                        &nbsp;
                        a(data-dismiss='modal' href='#' class='btn') No

                  h4(class='#{showTA1status}') TA 1 Status: 
                  p(class='#{showTA1status}') 
                    span(class='badge #{badgeTa1}') #{ta1Msg}
                  
                  h3(class='#{showTA2}') Sidang TA status
                  p
                  a(href='#myModal2' data-toggle='modal' class='btn btn-info #{showTA2}') 
                    i.icon-ok-circle.icon-white
                    strong  Sidang TA 2
                  div(id='myModal2' class='modal hide')
                    div(class='modal-header')
                      button(data-dismiss='modal' class='close' type='button')&times;
                      h3 Set TA 2 DONE
                    div(class='modal-body')
                      .span12
                        p.lead Are you sure want to accept sidang TA 2 to DONE?
                        a(href='#{baseurl}/student/ta2/accept/#{profile.nim}' class='btn btn-primary') Yes
                        &nbsp;
                        a(data-dismiss='modal' href='#' class='btn') No
                  
                  

                  h4(class='#{showTA2status}') TA 2 Status: 
                  p(class='#{showTA2status}') 
                    span(class='badge #{badgeTa2}') #{ta2Msg}

                  hr    
                  p 
                    a(href='#{baseurl}/students') 
                      h4 ← Back to all students
            // /block
    // /.fluid-container
    script(src='/static/vendors/vendors/jquery-1.9.1.js')
    script(src='/static/vendors/bootstrap/js/bootstrap.min.js')
    script(src='/static/vendors/vendors/datatables/js/jquery.dataTables.min.js')
    script(src='/static/vendors/assets/scripts.js')
    script(src='/static/vendors/assets/DT_bootstrap.js')
    script.
      $(function() {
      });
    //- export as

    script.
      function generate() {
        var columns = ["Date Approved", "Content", "ID","Last edit","Title"];
        var rows = !{JSON.stringify(output)}
        var nim  = !{JSON.stringify(profile.nim)}
        var lect = !{JSON.stringify(lect)}

        var doc = new jsPDF();
        doc.autoTable(columns, rows,{
          theme:'striped',
          beforePageContent: function(data) {
          doc.text("Reports Mahasiswa Bimbingan : " + nim + " and Supervisor : " + lect, 10, 10);
          }
        });
        doc.output("dataurlnewwindow");
      }