doctype html
html.no-js
  head
    title Dashboard - #{nim}
    // Bootstrap
    link(href='/static/vendors/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/vendors/easypiechart/jquery.easy-pie-chart.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/styles.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/timeline.less', rel='stylesheet/less', media='screen')
    
    style.
      .stateStyle {color: #{stateColor}}
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='/static/vendors/vendors/modernizr-2.6.2-respond-1.1.0.min.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Student dashboard
          .nav-collapse.collapse
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown' 
                style='color:#001a33; background:#{coloredMsg}; font-weight:bold;')
                  i.icon-envelope
                  strong  Conversations
                  i.caret
                ul.dropdown-menu
                  each msg in objMsgs
                    li
                      a(tabindex='-1', href='#')
                        div
                          strong #{msg.author}
                          br
                        | #{msg.body}
                        br
                        span(style='color:#04A957; font-weigt:bolder; font-size:8pt') #{msg.date_created}
                    br
                          
                  li.divider
                  li
                    a(href='message/all?from=topbar')
                      strong READ FULL CONVERSATION →
                  
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown',
                  style='color:#001a33; background:#{colored}; font-weight:bold;')
                  i.icon-volume-up
                  |  Notifications
                  i.caret
                ul.dropdown-menu
                  each notif in notifs
                    li
                      a(tabindex='-1', href='#')
                        div
                          strong #{notif.date}
                        | #{notif.notif}
                  hr
                  li
                    a(href='notifications?from=topbar')
                      strong READ ALL NOTIFS →
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  i.icon-user
                  strong  #{nim}
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='profile') Profile
                  li
                    a(tabindex='-1', href='settings') Settings
                  li.divider
                  li
                    a(tabindex='-1', href='logout') Logout
            ul.nav
              li.active
                a(href='#') Dashboard
    // SIDEBAR
    .container-fluid
      .row-fluid
        #sidebar.span3
          ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
            li.active
              a(href='#')
                i.icon-chevron-right
                i.icon-home
                |  Dashboard
            li
              a(href='profile')
                i.icon-chevron-right
                i.icon-user
                |  Profile
            li
              a(href='lecturers')
                i.icon-chevron-right
                i.icon-briefcase
                |  Lecturers
            li
              a(href='reports/all')
                i.icon-chevron-right
                i.icon-book
                |  Reports
            li
              a(href='notifications')
                div(class='#{isNotifShow}')
                  span.badge.badge-info.pull-right #{newNotif}
                i.icon-volume-up
                |  Notifications
            li
              a(href='message/all')
                div(class='#{msgShow}')
                  span.badge.badge-warning.pull-right #{msgNotif}
                i.icon-envelope
                |  Messages
            li
              a(href='#')
                span.badge.badge-info.pull-right
                i.icon-inbox
                |  Broadcast
                
        // /span
        #content.span9
          .row-fluid
            .navbar
              .navbar-inner
                ul.breadcrumb
                  i.icon-chevron-left.hide-sidebar
                    a(href='#', title='Hide Sidebar', rel='tooltip')  
                  i.icon-chevron-right.show-sidebar(style='display:none;')
                    a(href='#', title='Show Sidebar', rel='tooltip')  
                  li Dashboard
          
          .row-fluid
            // block
            .block
              .navbar.navbar-inner.block-header
                .muted.pull-left General information
              .block-content.collapse.in
                .span3
                  h4 Registered at
                  i.icon-calendar
                  |  #{registered_at}
                  hr
                  p
                    a(href='profile?from=general_info')
                      button.btn.btn-info
                        i.icon-refresh.icon-white
                        strong  Update my profile
                .span3
                  h4 Last login
                  i.icon-time
                  |  #{login}
                  hr
                  p
                    a(href='activities?from=general_info')
                      button.btn.btn-danger
                        i.icon-zoom-in.icon-white
                        strong  See all my activities
                .span3
                  h4 Dosen pembimbing
                  p(class='stateStyle') 
                  span(class='#{acceptance}') #{state}
                  h5 #{supervisor}
                  p(class='#{hideChoosing}') Choose
                    a(href='lecturers')  here
                  hr
                  p
                    a(href='lecturers?from=general_info')
                      button.btn.btn-warning
                        i.icon-user.icon-white
                        strong  See all active lecturers
                .span3
                  h4 Progress report(s)
                  div(class='#{divReport}')
                    p 
                      h4 Total report :
                        &nbsp;
                        span.badge.badge-info #{nReport}
                    hr
                    p(class='#{msgReport}')
                    
                    a(href='reports/all?from=general_info')
                      button.btn.btn-primary
                        i.icon-eye-open.icon-white
                        strong  View report(s)
                    br
                    br
                    p(class='#{reportCreate}')
                    
                    a(href='report/create?from=general_info')
                      button.btn.btn-success
                        i.icon-plus-sign.icon-white  
                        strong  Add report
                        
                    br
                    br
                    p Report approval :
                    h4(class='#{reportStatus}', style='color:#{statusStyle};') #{coloredStatus}
                hr
                
                .span12
                  h3 Milestone
                  div.progress.progress-success.active 
                    div(style='width: 40%' class='bar') 
                      strong 40%               
                                                                  
                  ul(style='list-style:none')
                    li 20% &rarr;
                      strong Registered 
                    li 40% &rarr;
                      strong  Approved (supervisor)
                    li 60% &rarr;
                      strong  Progress report
                    li 80% &rarr;
                      strong  Sidang TA 1
                    li 100% &rarr;
                      strong  Sidang TA 2

            // /block
      // footer
      hr
      footer
        center
          | Thesis Management System &copy; 2017 -
          &nbsp;
          a(href='https://github.com/wldn/thement' title='Source code' target='_blank')
            strong v1.0
            br
          strong Department of Physics, ITB
    // /.fluid-container
    script(src='/static/vendors/vendors/jquery-1.9.1.min.js')
    script(src='/static/vendors/bootstrap/js/bootstrap.min.js')
    script(src='/static/vendors/vendors/easypiechart/jquery.easy-pie-chart.js')
    script(src='/static/vendors/assets/scripts.js')
    script.
      $(function() {
      // Easy pie charts
      $('.chart').easyPieChart({animate: 1000});
      });
