doctype html
html.no-js
  head
    title Dashboard - #{nim}
    // Bootstrap
    link(href='/static/vendors/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/vendors/easypiechart/jquery.easy-pie-chart.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/styles.css', rel='stylesheet', media='screen')
    style.
      .stateStyle {color: #{stateColor}}
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='/static/vendors/vendors/modernizr-2.6.2-respond-1.1.0.min.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Student dashboard
          .nav-collapse.collapse
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  i.icon-envelope
                  |  Messages
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='#')
                      div
                        strong 1st message
                      | Jade is a terse and simple templating language with a strong focus
                  li
                    a(tabindex='-1', href='#')
                      div
                        strong 2nd message
                      | Jade is a terse and simple templating language with a strong focus
                  li.divider
                  li
                    a(tabindex='-1', href='#') Read all messages
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown',
                  style='color:#001a33; background:#{colored}; font-weight:bold;')
                  i.icon-volume-up
                  |  Notifications
                  i.caret
                ul.dropdown-menu
                  each notif in notifs
                    li
                      a(tabindex='-1', href='#')
                        div
                          strong #{notif.date}
                        | #{notif.notif}
                  hr
                  li
                    a(href='notifications?from=topbar')
                      strong READ ALL NOTIFS →
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  i.icon-user
                  |  #{nim}
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='profile') Profile
                  li
                    a(tabindex='-1', href='settings') Settings
                  li.divider
                  li
                    a(tabindex='-1', href='logout') Logout
            ul.nav
              li.active
                a(href='#') Dashboard
    // SIDEBAR
    .container-fluid
      .row-fluid
        #sidebar.span3
          ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
            li.active
              a(href='#')
                i.icon-chevron-right
                i.icon-home
                |  Dashboard
            li
              a(href='profile')
                i.icon-chevron-right
                i.icon-user
                |  Profile
            li
              a(href='lecturers')
                i.icon-chevron-right
                i.icon-briefcase
                |  Lecturers
            li(class='#{msgReport}')
              a(href='reports/all')
                i.icon-chevron-right
                i.icon-book
                |  Reports
            li
              a(href='notifications')
                span.badge.badge-info.pull-right #{nNotifs}
                i.icon-volume-up
                |  Notifications
            li
              a(href='#')
                span.badge.badge-info.pull-right
                i.icon-envelope
                |  Messages
                
        // /span
        #content.span9
          .row-fluid
            .navbar
              .navbar-inner
                ul.breadcrumb
                  i.icon-chevron-left.hide-sidebar
                    a(href='#', title='Hide Sidebar', rel='tooltip')  
                  i.icon-chevron-right.show-sidebar(style='display:none;')
                    a(href='#', title='Show Sidebar', rel='tooltip')  
                  li Dashboard
          
          .row-fluid
            // block
            .block
              .navbar.navbar-inner.block-header
                .muted.pull-left General information
              .block-content.collapse.in
                .span3
                  h4 Last login
                  p #{login}
                .span3
                  h4 Activation status
                  p #{student.is_active}
                .span3
                  h4 Dosen pembimbing
                  p(class='stateStyle') #{state} : #{supervisor}
                  p(class='#{hideChoosing}') Choose
                    a(href='lecturers')  here
                  
                .span3
                  div(class='#{divReport}')
                    h4 Progress report(s)
                    p 
                      h4 Total report :
                        &nbsp;
                        span.badge.badge-info #{nReport}
                    hr
                    p(class='#{msgReport}')
                    
                    a(href='reports/all?from=home')
                      button.btn.btn-success
                        i.icon-eye-open.icon-white
                        |  View report(s)
                    br
                    br
                    p(class='#{reportCreate}')
                    
                    a(href='report/create?from=home')
                      button.btn.btn-primary
                        i.icon-folder-open.icon-white
                        |  Add report
                        
                    br
                    br
                    p Report approval :
                    h4(class='#{reportStatus}', style='color:#{statusStyle};') #{coloredStatus}

            // /block
      hr
    // /.fluid-container
    script(src='/static/vendors/vendors/jquery-1.9.1.min.js')
    script(src='/static/vendors/bootstrap/js/bootstrap.min.js')
    script(src='/static/vendors/vendors/easypiechart/jquery.easy-pie-chart.js')
    script(src='/static/vendors/assets/scripts.js')
    script.
      $(function() {
      // Easy pie charts
      $('.chart').easyPieChart({animate: 1000});
      });
