doctype html
html.no-js
  head
    title Dashboard - #{nim}
    // Bootstrap
    link(href='/static/vendors/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/vendors/easypiechart/jquery.easy-pie-chart.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/styles.css', rel='stylesheet', media='screen')
    style.
      .stateStyle {color: #{stateColor}}
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='/static/vendors/vendors/modernizr-2.6.2-respond-1.1.0.min.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Student dashboard
          .nav-collapse.collapse
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  i.icon-envelope
                  |  Messages
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='#') 
                      div 
                        strong 1st message
                      | Jade is a terse and simple templating language with a strong focus
                  li
                    a(tabindex='-1', href='#')
                      div 
                        strong 2nd message
                      | Jade is a terse and simple templating language with a strong focus
                  li.divider
                  li
                    a(tabindex='-1', href='#') Read all messages 
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  i.icon-volume-up
                  |  Notifications
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='#') 1st notif
                  li
                    a(tabindex='-1', href='#') 2nd notif
                  li.divider
                  li
                    a(tabindex='-1', href='./notifications') Read all notifications
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  i.icon-user
                  |  #{nim} 
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='profile') Profile
                  li
                    a(tabindex='-1', href='settings') Settings
                  li.divider
                  li
                    a(tabindex='-1', href='logout') Logout  
            ul.nav
              li.active
                a(href='#') Dashboard
          // /.nav-collapse
    .container-fluid
      .row-fluid
        #sidebar.span3
          ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
            li.active
              a(href='#')
                i.icon-chevron-right
                |  Dashboard
            li
              a(href='profile')
                i.icon-chevron-right
                |  Profile
            li
              a(href='lecturers')
                i.icon-chevron-right
                |  Lecturers
        // /span
        #content.span9
          .row-fluid
            .navbar
              .navbar-inner
                ul.breadcrumb
                  i.icon-chevron-left.hide-sidebar
                    a(href='#', title='Hide Sidebar', rel='tooltip')  
                  i.icon-chevron-right.show-sidebar(style='display:none;')
                    a(href='#', title='Show Sidebar', rel='tooltip')  
                  li
                    a.active(href='#') Dashboard
          .row-fluid
            // block
            .block
              .navbar.navbar-inner.block-header
                .muted.pull-left General information
              .block-content.collapse.in
                .span3
                  h4 Last login
                  p #{tgl}
                .span3
                  h4 Activation status
                  p #{student.is_active}
                .span3
                  h4 Dosen pembimbing
                  p(class='stateStyle') #{state} : #{supervisor}
                  | Choose 
                  a(href='lecturers') here
                .span3
                  h4 Progress report(s)
                  p none
                  //- .chart(data-percent='13') 13%
                  //- .chart-bottom-heading
                  //-   span.label.label-info Orders
            // /block
      hr
    // /.fluid-container
    script(src='/static/vendors/vendors/jquery-1.9.1.min.js')
    script(src='/static/vendors/bootstrap/js/bootstrap.min.js')
    script(src='/static/vendors/vendors/easypiechart/jquery.easy-pie-chart.js')
    script(src='/static/vendors/assets/scripts.js')
    script.
      $(function() {
      // Easy pie charts
      $('.chart').easyPieChart({animate: 1000});
      });
