doctype html
html
  head
    title=title
    // Bootstrap
    link(href='/static/vendors/bootstrap/css/bootstrap.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/styles.css', rel='stylesheet', media='screen')
    //if lte IE 8
      script(language='javascript', type='text/javascript', src='/static/vendors/flot/excanvas.min.js')
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='/static/vendors/vendors/modernizr-2.6.2-respond-1.1.0.min.js')    
      
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Student dashboard
          .nav-collapse.collapse
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  i.icon-user
                  strong  #{nim} 
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='#{baseurl}/profile?from=topbar') Profile
                  li
                    a(tabindex='-1', href='#{baseurl}/settings') Settings
                  li.divider
                  li
                    a(tabindex='-1', href='../logout?from=topbar') Logout
            ul.nav
              li.active
                a(href='#') Lecturer's detail
          // /.nav-collapse
    .container-fluid
      
      .row-fluid
        #sidebar.span3
          ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
            li
              a(href='../home?from=lecturer-detail')
                
                i.icon-home
                |  Dashboard
            li
              a(href='../profile?from=lecturer-detail')
                
                i.icon-user
                |  Profile
            li.active
              a(href='#')
                
                i.icon-briefcase
                |  Lecturers
            li
              a(href='../reports/all?from=lecturer-detail')
                
                i.icon-book
                |  Reports
            li
              a(href='../notifications?from=lecturer-detail')
                span.badge.badge-info.pull-right #{nNotifs}
                i.icon-volume-up
                |  Notifications
            li
              a(href='../message/all?from=lecturer-detail')
                span.badge.badge-info.pull-right
                i.icon-envelope
                |  Messages
            li
              a(href='../announcements?from=lecturer-detail')
                span.badge.badge-info.pull-right
                i.icon-inbox
                |  Announcements
        // /span
        #content.span9
          .row-fluid
            .navbar
              .navbar-inner
                ul.breadcrumb
                  i.icon-chevron-left.hide-sidebar
                    a(href='#', title='Hide Sidebar', rel='tooltip')  
                  i.icon-chevron-right.show-sidebar(style='display:none;')
                    a(href='#', title='Show Sidebar', rel='tooltip')  
                  li
                    a(href=baseurl+'/home?from=panel') Dashboard
                    span.divider /
                  li
                    a(href=baseurl+'/lecturers?from=panel') Lecturers
                    span.divider /
                  li Lecturer's Profile
          .row-fluid
            // block
            .block
              .navbar.navbar-inner.block-header
                .muted.pull-left Lecturer's Profile
              .block-content.collapse.in
                .span12
                  .span8
                    form(method='post' action='#{lecturer.username}/choose')
                      ul(style='list-style:none')
                        li
                          p
                            img(src='#{lecturer.img_url}')  
                        li 
                          h4 Fullname
                          p=lecturer.name
                        li
                          h4 Email
                          p=lecturer.username+'@fi.itb.ac.id'
                        li
                          h4 Education
                          p
                            ul
                              li Bachelor : #{profile.educations.undergraduate} 
                              li Master : #{profile.educations.master}
                              li Doctoral : #{profile.educations.doctoral}
                        li
                          h4 Research division
                          p=lecturer.kk
                        
                          
                        //- button.btn.btn-primary(type='submit' class='#{hiding}')
                        //-   i.icon-ok.icon-white
                        //-   strong  Choose
                        a(href='#myModal' data-toggle='modal' class='btn btn-primary #{hiding}') 
                            i.icon-ok.icon-white
                            strong  Choose
                        p(class='lead #{over}')
                          span.label.label-important QUOTA FULL
                        
                          div(id='myModal' class='modal hide')
                            div(class='modal-header')
                              button(data-dismiss='modal' class='close' type='button')&times;
                              h4 Choose lecturer
                            div(class='modal-body')
                              .span12
                                p Are you sure want to choose <strong> #{lecturer.name} </strong> as your supervisor?
                                button.btn.btn-primary(type='submit') Yes
                                &nbsp;
                                a(data-dismiss='modal' href='#' class='btn') No
                          
                         
                                
                                
                  .span4
                        
                    h3 Index
                    table#example2.table.table-striped.table-bordered(cellpadding='0', cellspacing='0', border='0')
                      thead
                        tr
                          th ID
                          th Name    
                      tbody
                        each lecturer in arrLecturers
                          tr
                            td=lecturer.id
                            td
                              a(href='#{lecturer.username}?from=lecturer-detail') #{lecturer.name}
                    
                 p
                  a(href=baseurl+'/lecturers')
                    i.icon-arrow-left
                    |  Back to all 
                    
            // /block
            // footer
            center
              include ../static/footer
      hr
     // /.fluid-container
    script(src='/static/vendors/vendors/jquery-1.9.1.js')
    script(src='/static/vendors/bootstrap/js/bootstrap.min.js')
    script(src='/static/vendors/vendors/datatables/js/jquery.dataTables2.min.js')
    script(src='/static/vendors/assets/scripts.js')
    script(src='/static/vendors/assets/DT_bootstrap.js')
    script.
      $(function() {
      });
    script.
      
