include ../static/layout
head
  link(href='/static/vendors/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
  link(href='/static/vendors/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
  link(href='/static/vendors/assets/styles.css', rel='stylesheet', media='screen')
  link(href='/static/vendors/vendors/jGrowl/jquery.jgrowl.css', rel='stylesheet', media='screen')
  script(type="text/javascript")
  title=title
  
body

  div(class='container')
  center
    span.label.label-info #{caption}
    form(action='register', method='post', class='form-signin')
      h2(class='form-signin-heading') #{title}
      label(for='inputUsername', class='sr-only') 
      input(type='number', id='inputEmail', name='nim', class='form-control' class='form-control' oninput='javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);' maxLength='8' placeholder='your NIM' required autofocus)
      
      label(for='inputEmail', class='sr-only') 
      input(type='email', id='inputPassword', name='email', class='form-control', placeholder='your Email' required)

      label(for='inputNickName', class='sr-only') 
      input(type='text', id='inputNickName', name='nickname', class='form-control', placeholder='Nickname' required)

      label(for='inputFullName', class='sr-only') 
      input(type='text', id='inputFullName', name='fullname', class='form-control', placeholder='Fullname' required)
      
      label(for='inputPassword', class='sr-only') 
      input(type='password', id='inputPassword', name='password', class='form-control', placeholder='your Password' required)
      
      label(for='inputPassword', class='sr-only') 
      input(type='password', id='inputPassword', name='repassword', class='form-control', placeholder='Retype your Password' required)
      
      button(class='btn btn-lg btn-primary btn-block', type='submit') Register
      p 
        center 
        | Already have an account? Sign in 
        a(href='login')  here  
        
      p
        center
          if(registerCode !== '')
            strong
              .alert.alert-danger(class='#{hiding}') 
                button.close(type='button', data-dismiss='alert') ×
                h4
                | #{registerCode}
              
      
    

  
