doctype html
html
  head
    title #{title} - #{nim}
    // Bootstrap
    link(href='/static/vendors/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/styles.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/DT_bootstrap.css', rel='stylesheet', media='screen')
    //if lte IE 8
      script(language='javascript', type='text/javascript', src='/static/vendors/vendors/flot/excanvas.min.js')
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='/static/vendors/vendors/modernizr-2.6.2-respond-1.1.0.min.js')
    style.
      i {color:white}
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Student dashboard
          .nav-collapse.collapse
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  i.icon-user
                  strong  #{nim} 
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='#{baseurl}/profile?from=topbar') Profile
                  li
                    a(tabindex='-1', href='#{baseurl}/settings') Settings
                  li.divider
                  li
                    a(tabindex='-1', href='../logout?from=topbar') Logout
            ul.nav
              li.active
                a(href='#') Announcement
          // /.nav-collapse
    .container-fluid
      .row-fluid
        #sidebar.span3
          ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
            li
              a(href=baseurl+'/home?from=announcement-detail')
                
                i.icon-home
                |  Dashboard
            li
              a(href=baseurl+'/profile?from=announcement-detail')
                
                i.icon-user
                |  Profile
            li
              a(href=baseurl+'/lecturers?from=announcement-detail')
                
                i.icon-briefcase
                |  Lecturers
            li(class='#{msgReport}')
              a(href=baseurl+'/reports/all?from=announcement-detail')
                
                i.icon-book
                |  Reports
            li
              a(href=baseurl+'/notifications?from=announcement-detail')
                span.badge.badge-info.pull-right
                i.icon-volume-up
                |  Notifications
            li
              a(href=baseurl+'/message/all?from=announcement-detail')
                span.badge.badge-info.pull-right
                i.icon-envelope
                |  Messages
            li.active
              a(href='#')
                span.badge.badge-info.pull-right
                i.icon-inbox
                |  Announcements
          hr
          a(href=baseurl+'/logout?from=sidebar' class='btn btn-danger')
            strong Log out &nbsp;
            i.icon-arrow-right.icon-white
        // /span
        #content.span9
          .row-fluid
            .navbar
              .navbar-inner
                ul.breadcrumb
                  i.icon-chevron-left.hide-sidebar
                    a(href='#', title='Hide Sidebar', rel='tooltip')  
                  i.icon-chevron-right.show-sidebar(style='display:none;')
                    a(href='#', title='Show Sidebar', rel='tooltip')  
                  li
                    a(href=baseurl+'/home?from=panel') Dashboard
                    span.divider /
                  li 
                    a(href=baseurl+'/announcements?from=panel') Announcements
                    span.divider /
                  li Detail
          .row-fluid
            // block
            .block
              .navbar.navbar-inner.block-header
                .muted.pull-left Announcement
              .block-content.collapse.in
                .span3
                  p.lead 
                    span.label.label-info Announcement 
                    br
                    | "is a one-way communication sent by admin"
                  hr
                 
                .span9
                  .span9
                    h4 Announcement detail
                    p #{found.body}
                    p #{found.date}
                    
                    a(href=baseurl+'/announcements' class='btn btn-info')
                        i.icon-arrow-left.icon-white
                        strong  Back to all announcements

                    //- flash message
                    if error && error.length > 0
                      .alert.alert-danger.alert-dismissible.fade-in(role="alert")
                        button.close(type="button" data-dismiss="alert" aria-label="Close")
                          span(aria-hidden="true") ×
                        p(class='lead')= error
                    if success && success.length > 0
                      .alert.alert-success.alert-dismissible.fade-in(role="alert")
                        button.close(type="button" data-dismiss="alert" aria-label="Close")
                          span(aria-hidden="true") ×
                        strong Success!
                        p= success

                                                
                  .span3
                    p.lead 
                      span.label.label-default Type 
                      br
                      | "Sent message is usually about administration things"
                    
        hr
        // footer
        center
          include ../../static/footer                   
                      
            // /block
    // /.fluid-container
    script(src='/static/vendors/vendors/jquery-1.9.1.js')
    script(src='/static/vendors/bootstrap/js/bootstrap.min.js')
    script(src='/static/vendors/vendors/datatables/js/jquery.dataTables.min.js')
    script(src='/static/vendors/assets/scripts.js')
    script(src='/static/vendors/assets/DT_bootstrap.js')
    script.
      $(function() {
      });
