doctype html
html
  head
    title=title
    // Bootstrap
    link(href='/static/vendors/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/styles.css', rel='stylesheet', media='screen')
    //if lte IE 8
      script(language='javascript', type='text/javascript', src='/static/vendors/flot/excanvas.min.js')
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='/static/vendors/vendors/modernizr-2.6.2-respond-1.1.0.min.js')    
      
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Admin dashboard
          .nav-collapse.collapse
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  i.icon-user
                  |  #{nim} 
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='#{baseurl}/profile') Profile
                  li
                    a(tabindex='-1', href='#{baseurl}/settings') Settings
                  li.divider
                  li
                    a(tabindex='-1', href='logout') Logout
            ul.nav
              li.active
                a(href='#') Lecturer's detail
          // /.nav-collapse
    .container-fluid
      .row-fluid
        #sidebar.span3
          ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
            li
              a(href='../home')
                i.icon-chevron-right
                i.icon-home
                |  Dashboard
            li
              a(href='../profile')
                i.icon-chevron-right
                i.icon-user
                |  Profile
            li.active
              a(href='#')
                i.icon-chevron-right
                i.icon-briefcase
                |  Lecturers
            li
              a(href='../reports/all')
                i.icon-chevron-right
                i.icon-book
                |  Reports
            li
              a(href='../notifications')
                i.icon-volume-up
                |  Notifications
            li
              a(href='#')
                span.badge.badge-info.pull-right
                i.icon-envelope
                |  Messages
        // /span
        #content.span9
          // TODO: validation input
          // Only edit after click 'Edit'
          .row-fluid
            // block
            .block
              .navbar.navbar-inner.block-header
                .muted.pull-left Lecturer's Profile
              .block-content.collapse.in
                .span12
                form(method='post' action='#')
                  h3 
                  ul(style='list-style:none')
                    li
                      h4 Email
                      p=profile.username+'@fi.itb.ac.id'
                    li
                      h4 Education
                      p
                        ul
                          li Bachelor : #{profile.educations.undergraduate} 
                          li Master : #{profile.educations.master}
                          li Doctoral : #{profile.educations.doctoral}
                    li
                      h4 Research division
                      p=profile.kk
                    li
                      h4 Students 
                      p=profile.students
                    p
                      a(href=baseurl+'/lecturers')
                        i.icon-arrow-left
                        |  Back to all
                      
                    //- button.btn.btn-primary(type='submit' class='#{hiding}')
                    //-   i.icon-ok.icon-white
                    //-   strong  Choose
                    
                  
                    ul.pager.wizard
                      li.previous.first(style='display:none;')
                        a(href='javascript:void(0);') First
                      li.previous
                        a(href='javascript:void(0);') Previous
                      li.next.last(style='display:none;')
                        a(href='javascript:void(0);') Last
                      li.next
                        a(href='javascript:void(0);') Next
                      li.next.finish(style='display:none;')
                        a(href='javascript:;') Finish
                      
                    //- if(chooseCode !== '')
                    //-   strong
                    //-     .alert.alert-success(class='#{hiding}') 
                    //-       button.close(type='button', data-dismiss='alert') ×
                    //-       h4 
                    //-       | #{chooseCode}
            // /block
      hr
    // /.fluid-container
    link(href='/static/vendors/vendors/datepicker.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/vendors/uniform.default.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/vendors/chosen.min.css', rel='stylesheet', media='screen')
    script(src='/static/vendors/vendors/jquery-1.9.1.js')
    script(src='/static/vendors/bootstrap/js/bootstrap.min.js')
    script(src='/static/vendors/vendors/jquery.uniform.min.js')
    script(src='/static/vendors/vendors/chosen.jquery.min.js')
    script(src='/static/vendors/vendors/bootstrap-datepicker.js')
    script(src='/static/vendors/vendors/wizard/jquery.bootstrap.wizard.min.js')
    script(type='text/javascript', src='/static/vendors/vendors/jquery-validation/dist/jquery.validate.min.js')
    script(src='/static/vendors/assets/form-validation.js')
    script(src='/static/vendors/assets/scripts.js')
    script.
      jQuery(document).ready(function() {
      FormValidation.init();
      });
      $(function() {
      $(".datepicker").datepicker();
      $(".uniform_on").uniform();
      $(".chzn-select").chosen();
      $('.textarea').wysihtml5();
      $('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
      var $total = navigation.find('li').length;
      var $current = index+1;
      var $percent = ($current/$total) * 100;
      $('#rootwizard').find('.bar').css({width:$percent+'%'});
      // If it's the last tab then hide the last button and show the finish instead
      if($current >= $total) {
      $('#rootwizard').find('.pager .next').hide();
      $('#rootwizard').find('.pager .finish').show();
      $('#rootwizard').find('.pager .finish').removeClass('disabled');
      } else {
      $('#rootwizard').find('.pager .next').show();
      $('#rootwizard').find('.pager .finish').hide();
      }
      }});
      $('#rootwizard .finish').click(function() {
      alert('Finished!, Starting over!');
      $('#rootwizard').find("a[href*='tab1']").trigger('click');
      });
      });
