doctype html
html
  head
    title #{title} 
    // Bootstrap
    link(href='/static/vendors/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/styles.css', rel='stylesheet', media='screen')
    link(href='/static/vendors/assets/DT_bootstrap.css', rel='stylesheet', media='screen')
    //if lte IE 8
      script(language='javascript', type='text/javascript', src='/static/vendors/vendors/flot/excanvas.min.js')
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='/static/vendors/vendors/modernizr-2.6.2-respond-1.1.0.min.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') #{admin} dashboard
          .nav-collapse.collapse
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  i.icon-user
                  strong  
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='#{baseurl}/profile') Profile
                  li
                    a(tabindex='-1', href='#{baseurl}/settings') Settings
                  li.divider
                  li
                    a(tabindex='-1', href='logout') Logout
            ul.nav
              li.active
                a(href='#') Lecturers
          // /.nav-collapse
    .container-fluid
      .row-fluid
        #sidebar.span3
          ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
            li
              a(href='home')
                
                i.icon-home
                |  Dashboard
            li
              a(href='profile')
                
                i.icon-user
                |  Profile
            li.active
              a(href='students')
                
                i.icon-list
                |  Students
            li
              a(href='lecturers')
                
                i.icon-user
                |  Lecturers
            li
              a(href='announcements/all')
                span.badge.badge-info.pull-right
                i.icon-inbox
                |  Announcement
        // /span
        #content.span9
          .row-fluid
            .navbar
              .navbar-inner
                ul.breadcrumb
                  i.icon-chevron-left.hide-sidebar
                    a(href='#', title='Hide Sidebar', rel='tooltip')  
                  i.icon-chevron-right.show-sidebar(style='display:none;')
                    a(href='#', title='Show Sidebar', rel='tooltip')  
                  li
                    a(href='home') Dashboard
                    span.divider /
                  li Lecturers
          .row-fluid
            // block
            .block
              .navbar.navbar-inner.block-header
                .muted.pull-left All lecturers
              .block-content.collapse.in
                .span12
                  .table-toolbar
                    //
                      <div class="btn-group">
                      <a href="#"><button class="btn btn-success">Add New <i class="icon-plus icon-white"></i></button></a>
                      </div>
                    legend Click student's name to see detail
                    .btn-group.pull-right
                    
                    br
                          
                  //- OPERATOR      
                  div(class='#{operatorShow}')  
                    table(id='example' class='table table-striped table-bordered #{operatorShow}' cellpadding='0', cellspacing='0', border='0')
                      thead
                        tr
                          th NIM
                          th Fullname
                          th Nickname
                          th GPA
                          th TA 1
                          th TA 2
                          
                          
                      tbody
                        each std in stds
                          tr
                            td
                              a(href='student/#{std.nim}')=std.nim
                            td=std.fullname
                            td=std.nickname
                            td=std.ipk
                            td
                              span(class='badge badge-#{std.notifta1}')=std.ta1
                            td
                              span(class='badge badge-#{std.notifta2}')=std.ta2
                      
            // /block
      hr
      footer
        center
          | Thesis Management System &copy; 2017 -
          &nbsp;
          a(href='https://github.com/wldn/thement' title='Source code' target='_blank')
            strong v1.0
            br
          strong Department of Physics, ITB

    // /.fluid-container
    script(src='/static/vendors/vendors/jquery-1.9.1.js')
    script(src='/static/vendors/bootstrap/js/bootstrap.min.js')
    script(src='/static/vendors/vendors/datatables/js/jquery.dataTables.min.js')
    script(src='/static/vendors/assets/scripts.js')
    script(src='/static/vendors/assets/DT_bootstrap.js')
    script.
      $(function() {
      });
